html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(220, 220, 220, 0.041);
}
#title{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 100;
    color: rgb(39, 37, 8);
    text-align: center;
    margin: 5px 10px;
}
.first-link{
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 2px solid;
    display: flex;
    background-color: honeydew;
    border-radius: 1rem;
}
.second-link{
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid;
    display: flex;
    background-color: honeydew;
    border-radius: 1rem;
}
.third-link{
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid;
    display: flex;
    background-color: honeydew;
    border-radius: 1rem;
}
img{
    height: 500px;
    width: auto;
}