html{
    box-sizing: border-box;
}
*,
*::before
*::after{
    box-sizing: inherit;
}

body{ 
    background-color: azure;
}

#title{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
}

img{
    width: auto;
    height: fit-content;
    display: inline-block;
}
.description{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    background-color: gainsboro;
}
.ing,
.Ingredients{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.steps,
.note{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}