html{
    box-sizing: border-box;
}
*,
*::before
*::after{
    box-sizing: inherit;
}

body{ 
    background-color: azure;
}
/* The title*/
#title{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
}
img{ 
    height: auto;
    width: fit-content;
    margin: auto;
    display: block;
}
.description{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    background-color: gainsboro;
}
.ing,
.Ingredients{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.steps,
.note{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
/* return navigation */
.return{ 
      color: brown;
      text-align: left;
      font-size: 18px;
      padding: 5px 10px;
      border: 3px solid;
      margin: 3px 10px;
}
